*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
  margin: none;
}
:root {
  --primary-color: #00a98b;
  --secondary-color: #edfdf9;
  --background-color: #fff;
  --text-color: black;
  --text-color2: #FEBE10;
}
body {
  overflow-x: hidden;
}
